<footer>
        <div class="footer-grid">
            <div class="footer-col">
                <a href="#" class="logo" style="color: white; margin-bottom: 15px; display: inline-flex;">
                    <div class="logo-icon">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    HomeFinder <span>GHANA</span>
                </a>
            </div>
            <div class="footer-col">
                <h5>Quick Links</h5>
                <ul>
                    <li><a href="{% url 'home_finder:list_properties' %}">Properties</a></li>
                    <li><a href="#">How It Works</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h5>For Tenants</h5>
                <ul>
                    <li><a href="{% url 'home_finder:list_properties' %}">Browse Properties</a></li>
                    <li><a href="#">Saved Properties</a></li>
                    <li><a href="#">How It Works</a></li>
                    <li><a href="#">Help Center</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h5>For Landlords</h5>
                <ul>
                    <li><a href="{% url 'home_finder:list_properties' %}">List Your Property</a></li>
                    <li><a href="#">Landlord Guide</a></li>
                    <li><a href="#">Pricing Plans</a></li>
                    <li><a href="#">Resources</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h5>Legal</h5>
                <ul>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Cookie Policy</a></li>
                </ul>
                <h5 style="margin-top: 25px; margin-bottom: 12px;">Follow Us</h5>
                <div class="social-icons">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2026 HomeFinder Ghana. All rights reserved.
        </div>
    </footer>